<html> 
    <head>     
        <meta charset="utf-8" />     
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />     
        <meta name="description" content="" />     
        <meta name="author" content="" />
    <title>Chat Box</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME  CSS -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body ng-app="web-chat" ng-controller="appController">
    <div class="container">
        <div class="row pad-top pad-bottom">
            <div class=" col-lg-6 col-md-6 col-sm-6" ng-controller="chatController">
                <div class="chat-box-div">
                    <div class="chat-box-head">
                        {{roomName}} ROOM
                        <br>
                            <span ng-repeat="member in groupDetail.member">
                                ({{member.name}})
                            </span>
                        
                         <div class="btn-group pull-right bottom-4" ng-show="groupDetail">
                            <button type="button" class="btn btn-info" aria-expanded="false" ng-click="addMemberOnClick()">
                                <span class="fa fa-plus"></span>
                            </button>
                            <button type="button" class="btn btn-danger" aria-expanded="false" ng-click="kickMemberOnClick()">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>

                        <div ng-show="addNewMemberGroup">
                            <form class="form-inline margin-top-10" ng-submit="addMember()">
                                <input class="form-control grow group-chat-add" type="text" name="add-friend" ng-model="newMemberName" placeholder="input new member name"/>
                                <button class="form-control btn btn-info" type="submit"/>Add</button>
                            </form>
                        </div>

                        <div ng-show="kickGroupMember">
                            <form class="form-inline margin-top-10" ng-submit="kickMember()">
                                <input class="form-control grow group-chat-add" type="text" name="add-friend" ng-model="memberName" placeholder="input member name"/>
                                <button class="form-control btn btn-danger" type="submit"/>Kick</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel-body chat-box-main" ng-controller="showUserChatController">
                        <div ng-repeat="chat in chatData.data">
                            <div class="chat-box-left">
                                {{chat.chat}}
                               <small class="chat-time">{{chat.date_time}}</small>
                            </div>
                            <div class="chat-box-name-left">
                                <img src="/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                                -  {{chat.name}}
                            </div>
                            <hr class="hr-clas" />
                        </div>
                    </div>
                    
                    <div class="chat-box-footer" ng-controller="newChatUserController">
                        <form class="input-group" ng-submit="postNewChat()">
                            <input type="text" class="form-control" placeholder="Enter Text Here..." ng-model="newChat">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit">SEND</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6" ng-controller="userController">
                <div class="user-box-div">
                    <div class="user-box-head">
                        USER
                    </div>
                    <div class="panel-body">
                        <div class="user-box-name">
                            <img ng-src={{user.photo_url}} alt="bootstrap Chat box user image" class="img-circle width-50" />
                            <span style="font-weight:bold">{{user.name}}</span>
                            <div class="btn-group pull-right margin-top-15">
                                <button type="button" class="btn btn-danger" aria-expanded="false" ng-click="go('/login')">
                                    <span>Logout</span>
                                </button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3" ng-controller="friendController">
                <div class="chat-box-online-div">
                    <div class="chat-box-online-head">
                        FRIEND LIST
                        <div class="btn-group pull-right bottom-4" ng-click="newFriendOnClick()">
                            <button type="button" class="btn btn-success" aria-expanded="false">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-show="inviteNewFriend">
                        <form class="form-inline margin-top-10" ng-submit="addNewFriend()">
                            <input class="form-control grow chat-box-add-new" type="text" name="add-friend" ng-model="newFriendName" placeholder="input friend name"/>
                            <button class="form-control btn btn-success" type="submit"/>Add</button>
                        </form>
                    </div>
                    <div class = "chat-box-online-friend-list">
                        <div ng-repeat="friend in friends" class="panel-body chat-box-online">
                            <div class="chat-box-online-left" ng-click="friendOnClick(friend.id)">
                                <img src={{friend.photo_url}} alt="bootstrap Chat box user image" class="img-circle" />
                                {{friend.name}}
                                <br />
                            </div>
                            <hr class="hr-clas-low" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3" ng-controller="groupController">
                <div class="chat-group-new-div">
                    <div class="chat-group-new-head">
                        GROUP LIST
                        <div class="btn-group pull-right bottom-4" ng-click="newGroupOnClick()">
                            <button type="button" class="btn btn-warning" aria-expanded="false">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-show="isCreateNewGroup">
                        <form class="form-inline margin-top-10" ng-submit="createNewGroup()">
                            <input class="form-control grow chat-box-group-new" type="text" name="group-name" ng-model="newGroupName" placeholder="input group name"/>
                            <input class="form-control grow chat-box-group-new" type="text" name="group-members" ng-model="newMember" placeholder="input member name"/>
                            <button class="form-control btn btn-success" type="submit"/>Create</button>
                        </form>
                    </div>
                    <div class="chat-group-new-group-list">
                        <div class="panel-body chat-group-new" ng-repeat="group in groups">
                            <div class="chat-group-new-left" ng-click="groupOnClick(group.id)">
                                <img src="/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                                {{group.name}}
                                <br />
                            </div>
                            <hr class="hr-clas-low" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- USING SCRIPTS BELOW TO REDUCE THE LOAD TIME -->
    <!-- CORE JQUERY SCRIPTS FILE -->
    <script src="../public/js/jquery-1.11.1.js"></script>
    <!-- CORE BOOTSTRAP SCRIPTS  FILE -->
    <script src="../public/js/bootstrap.js"></script>
    <!-- CORE ANGULAR SCRIPTS  FILE -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
</body>

</html>
